body {
  padding: 0;
  margin: 0;
  background-image: url("../../images/japanese-paper_00147.jpg");
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (min-width: 1140px) {
  .header {
    height: 64px;
  }
}
@media screen and (min-width: 594px) and (max-width: 1140px) {
  .header {
    height: 64px;
  }
}
@media screen and (max-width: 594px) {
  .header {
    height: 48px;
  }
}

.bg-black {
  padding-top: 16px;
  background-color: black;
  color: white;
}

.home-image {
  width: 100%;
}

.contents {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 1140px) {
  .contents {
    padding: 0 70px;
  }
}
@media screen and (min-width: 594px) and (max-width: 1140px) {
  .contents {
    padding: 0 40px;
  }
}
@media screen and (max-width: 594px) {
  .contents {
    padding: 0 12px;
  }
}

.header-contents {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header-contents .button-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.button-container {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "shinryu", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 16px;
}
.header-button a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.header-button a:hover {
  color: #6b5b3d;
}

.section-image {
  max-width: 100%;
  margin-top: 16px;
}

.rectangle-left {
  display: flex;
  justify-content: start;
}

.rectangle-right {
  margin-top: -300px;
  display: flex;
  justify-content: end;
}

.rectangle {
  width: calc(100% - 50px);
}

.spacer-300 {
  height: 300px;
}

.send-to-back {
  z-index: -10;
}

.card {
  background-color: white;
  padding: 16px 8px;
  border-radius: 8px;
  color: gray;
}

.card-flex {
  display: flex;
  gap: 8px;
}

.card-thumbnail {
  width: 50%;
  max-width: 200px;
}

.mt-16 {
  margin-top: 16px;
}

.card-content {
  flex-grow: 1;
}

.card-title {
  text-align: center;
}

.store-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.store {
  width: 200px;
}

.store-image {
  width: 100%;
}

.store-name {
  width: 100%;
  text-align: center;
}

.divider {
  height: 0;
  border: black 1px solid;
}

.semi-footer-bg {
  padding: 16px 0;
  background-image: url("../../images/semi-footer-bg.jpg");
}
.semi-footer-bg p, .semi-footer-bg h1 {
  width: 100%;
  text-align: center;
}
.semi-footer-bg .line-image-container {
  display: flex;
  justify-content: center;
}
.semi-footer-bg .line-image-container img {
  width: 100%;
  max-width: 500px;
}

.footer-bg {
  padding: 16px 0;
  background-image: url("../../images/footer-bg.jpg");
}
.footer-bg .center {
  display: flex;
  justify-content: center;
}
.footer-bg h1 {
  width: 100%;
  text-align: center;
}
.footer-bg .sns-links {
  display: flex;
  gap: 8px;
}
.footer-bg .sns-links img {
  width: 30px;
}/*# sourceMappingURL=home.css.map */